.form{
    border: 1px solid #fff;
    background: transparent;
    backdrop-filter: blur(50%);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0 auto;
    width: 400px;
}

.user_label{
    transform: translateY(50%);
    color: #fff;
}

.user_input{
    border: none;
    outline: none;
    font-size: 1em;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #fff;
    font-weight: 500;
    border-bottom: 3px solid#fff;
    margin-bottom: 10px;
}

.add_btn{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 700;
    transition: all 150ms linear;
}

.add_btn:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.add_btn:active{
    background-color: #000;
    color: #fff;
}

.error{
    color: #f33;
}



